asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cloudinary==1.44.0
cryptography==44.0.2
dj-database-url==2.3.0
django==5.2
django-cloudinary-storage==0.3.0
environ==1.0
idna==3.10
psycopg[binary]==3.2.6
psycopg-binary==3.2.6
pycparser==2.22
pyjwt==2.10.1
python-decouple==3.8
python-dotenv==1.1.0
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
typing-extensions==4.13.2
urllib3==2.4.0